* {
    margin: 0;
    padding: 0;
}

html, body, .wrapper {
    height: 100%;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
    text-align: center;
}

.footer {
    height: 80px;
    margin-top: -80px;
}

/* Стиль кнопки Что сделать */
.what_to_do {
    margin: 20px auto;
}

/* Стиль блока с вводом данных от клиента */
#request_div, #response_div {
    margin: 40px auto;
    width: 70%;
}

.info {
    margin: 0 auto;
    width: 80%;
    text-align: justify;
}